/** Global Styling **/
* {
    box-sizing: border-box;
}

sup {
    font-size: smaller;
    vertical-align: super;
}

sub {
    font-size: smaller;
    vertical-align: sub;
}

.clearfix {
    clear: both;
}

.no-focus {
    outline: none;
}

.focusable:focus {
    outline: #5b9dd9 solid 2px;
}

/** Main Styling (for 1080p) **/
.body {
    font-family: Arial;
    -webkit-text-size-adjust: 100%;
}

.header {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 2460px;
}

.header__logo {
    max-width: 100%;
}


.header__lowbandwidth {
    position: absolute;
    left: 0;
    display: inline-block;
    text-align: left;
    cursor: pointer;
}

.social__icon {
    display: inline-block;
}

.social--top {
    position: absolute;
    top: 0;
    right: 0;
}

.social--top-left {
    right: auto;
    left: 0;
    padding: 20px 8px 0 0;
}

.fullscreen .social--top-left {
    left: 8%;
}

.social--top-right {
    right: 0;
    left: auto;
    padding: 20px 0 0 8px;
}

.fullscreen .social--top-right {
    right: 3%;
}

.social--collapsed {
    top: -8px;
}

.social--top-left.social--collapsed,
.social--top-right.social--collapsed {
    padding: 0;
}

.social--collapsed .social__icon {
    display: none;
}

.social--top .social__icon--collapse {
    display: inline-block;
}

.social--top-right .social__icon--collapse {
    margin-left: 5px;
}

.social--top-left .social__icon--collapse {
    margin-right: 5px;
}

.social--top .social__icon--expand {
    display: none;
    margin-right: 0;
    margin-left: 0;
}

.social--bottom {
    padding: 30px 0 25px 0;
}

.social--bottom {
    display: none;
}

.main {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 2460px;
}

.main::after {
    content: "";
    display: block;
    clear: both;
}

.fullscreen .main,
.fullscreen {
    width: calc(100vh * 16/9);
    height: 100%;
}

.fullscreen.less-16-9 .main {
    margin-top: calc((100vh - (100vw * 9/16)) / 2);
    height: calc(100vw * 9/16);
    width: 100%;
}

.cta--side {
    float: left;
    width: 270px;
    height: 1080px;
    padding-right: 1px;
}

.fullscreen .cta--side {
    width: 5%;
    height: 95%;
    position: relative;
    float: left;
}

.cta--bottom {
    display: none;
}

.cta__button {
    padding: 0;
}

.cta--side .cta__button {
    width: 100%;
}

.fullscreen .cta--side .cta__button {
    position: relative;
    z-index: 1;
    border: 0;
}

.cta--side.cta--1 .cta__button,
.promo--side.promo--1 .promo__item {
    height: 100%;
}

.cta--side.cta--2 .cta__button,
.promo--side.promo--2 .promo__item {
    margin-bottom: 1px;
    height: calc(50% - 1px);
}

.cta--side.cta--2 .cta__button.cta__button--button-2,
.promo--side.promo--2 .promo__item.promo__item--2 {
    margin-bottom: 0;
    height: 50%;
}

.cta--side.cta--3 .cta__button,
.promo--side.promo--3 .promo__item {
    margin-bottom: 1px;
    height: calc(33.333% - 1px);
}

.cta--side.cta--3 .cta__button.cta__button--button-3,
.promo--side.promo--3 .promo__item.promo__item--3 {
    margin-bottom: 0;
    height: 33.333%;
}

.cta--side.cta--4 .cta__button,
.promo--side.promo--4 .promo__item {
    margin-bottom: 1px;
    height: calc(25% - 1px);
}

.cta--side.cta--4 .cta__button.cta__button--button-4,
.promo--side.promo--4 .promo__item.promo__item--4 {
    margin-bottom: 0;
    height: 25%;
}

.cta--side.cta--5 .cta__button,
.promo--side.promo--5 .promo__item {
    margin-bottom: 1px;
    height: calc(20% - 1px);
}

.cta--side.cta--5 .cta__button.cta__button--button-5,
.promo--side.promo--5 .promo__item.promo__item--5 {
    margin-bottom: 0;
    height: 20%;
}

.cta--bottom .cta__button {
    height: 70px;
}

.player {
    float: left;
}

.fullscreen .player {
    width: 95%;
    height: 95%;
    margin: 0;
}

.player__wrapper {
    width: 1920px;
    height: 1080px;
}

.fullscreen .player__wrapper {
    width: 100%;
    height: 100%;
}

.player__iframe {
    position: relative;
    width: 100%;
    height: 100%;
}

.promo--side {
    float: left;
    width: 270px;
    height: 1080px;
    padding-left: 1px;
}

.fullscreen .promo--side {
    display: none;
}

.promo--bottom {
    display: none;
}

.promo--bottom .promo__item {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 95%;
    height: calc(0.95 * 30vw);
}

.promo--bottom .promo__item--bottom {
    margin-bottom: 25px;
}

.promo__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.timeline {
    position: relative;
    overflow: visible;
    margin: 0 auto;
    padding: 0;
}

.timeline__cover {
    position: absolute;
    z-index: 4000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    cursor: not-allowed;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 */
    filter: alpha(opacity=30); /* IE5-7 */
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
}

.timeline,
.timeline__controls {
    height: 80px;
}

.fullscreen .timeline {
    height: 5%;
    width: 100%;
    z-index: 2;
}

.fullscreen .timeline__controls {
    height: 100%;
}

.timeline__controls {
    position: relative;
    float: left;
}

.timeline__controls--left {
    width: 305px;
    padding: 0 15px;
    border-right: 5px solid;
}

.fullscreen .timeline__controls--left {
    width: 10%;
    border-right: 5px solid;
}

.timeline__controls--center {
    position: relative;
    width: 1850px;
}

.fullscreen .timeline__controls--center {
    width: 75%;
    position: relative;
}

.timeline--no-volume .timeline__controls--center {
    width: 1850px;
}

.fullscreen .timeline--no-volume .timeline__controls--center {
    width: 81%;
}

.timeline__controls--active-state {
    display: none;
}

.timeline__controls--right {
    width: 295px;
    padding: 0 15px;
    border-left: 5px solid;
}

.fullscreen .timeline__controls--right {
    width: 15%;
    border-left: 5px solid;
}

.timeline--no-volume .timeline__controls--right {
    width: 305px;
    text-align: center;
}

.top-wrapper--no-promo .timeline--no-volume .timeline__controls--right,
.top-wrapper--no-cta .timeline--no-volume .timeline__controls--right {
    width: 200px;
}

.fullscreen .timeline--no-volume .timeline__controls--right {
    width: 9%;
}

.timeline__button {
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
}

.fullscreen .timeline__button {
    margin: 0;
    height: 100%;
}

.timeline--no-volume .timeline__controls--right .timeline__button {
    float: none;
}

.timeline-buffering {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
}

.fullscreen .timeline-buffering {
    height: 6px;
}

.timeline__buffer-section {
    position: relative;
    display: inline-block;
    float: left;
    height: 100%;
}

.timeline__buffer-section-inner {
    width: 0;
    height: 100%;
}

.timeline-progress-hover,
.timeline-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.timeline-progress-hover {
    z-index: 10;
}

.timeline-progress {
    z-index: 20;
}

.timeline-progress-indicator,
.timeline-progress-indicator-ball {
    z-index: 40;
    display: none;
}

.timeline-chapters {
    position: relative;
    z-index: 30;
    height: 100%;
    line-height: 80px;
    text-align: center;
}

.fullscreen .timeline-chapters {
    line-height: 5vh;
}

.fullscreen.less-16-9 .timeline-chapters {
    line-height: calc(5vw * 9/16);
}

.timeline-contrast {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
}

.timeline-chapters__chapter,
.timeline-active-state__label {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.timeline-chapters__chapter {
    position: relative;
    z-index: 1;
    display: inline-block;
    float: left;
    height: 100%;
    cursor: pointer;
}

.timeline-active-state__label {
    margin-top: 10px;
    height: calc(100% - 10px);
    line-height: 40px;
    text-align: center;
}

.timeline-volume {
    z-index: 1;
    float: left;
    width: 100px;
    height: 100%;
    margin-right: 15px;
}

.timeline--no-volume .timeline-volume,
.timeline--no-volume .timeline__button--volume {
    display: none;
}

.fullscreen .timeline-volume {
    width: calc(100% - 165px);
}

.timeline__controls--right-no-fs .timeline-volume {
    width: 275px;
}

.timeline-volume div {
    cursor: pointer;
}

.timeline-volume__bg {
    margin-top: 35px;
    width: 100%;
    height: 10px;
}

.fullscreen .timeline-volume__bg {
    margin-top: calc(2.5vh - 5px);
}

.fullscreen.less-16-9 .timeline-volume__bg {
    margin-top: calc((2.5vw * 9/16) - 5px);
}

.timeline-volume__container {
    position: relative;
    width: 100px;
}

.fullscreen .timeline-volume__container {
    width: calc(100% - 10px);
}

.timeline__controls--right-no-fs .timeline-volume__container {
    width: 267px;
}

.timeline-volume__level {
    position: absolute;
    z-index: 10;
    top: -10px;
    left: 0;
    padding-left: 10px;
    width: 50%;
    height: 10px;
}

.timeline-volume__ball {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 20px;
    height: 20px;
}

.timeline__settings {
    display: inline-block;
    text-align: left;
}

.timeline__settings-popout,
.timeline__settings-language,
.timeline__settings-cc,
.timeline__settings-quality {
    display: none;
}

.chapter-button {
    display: inline-block;
}

.footer {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 2460px;
	height:150px;
}
.footer__pblogo {
    margin-right: 10px;
    width: 140px;
    height: 35px;
    vertical-align: middle;
}

.footer__poweredby-break {
    display: none;
}

.footer__copyright {
    float: left;
    width: 33%;
}

.footer__links {
    float: right;
    width: 33%;
}

.footer__copyright,
.footer__links {
    position: relative;
    top: -28px;
}

.top-wrapper--no-cta .header,
.top-wrapper--no-cta .main,
.top-wrapper--no-promo .main,
.bottom-wrapper--no-cta .footer,
.bottom-wrapper--no-promo .footer {
    width: 2190px;
}

.top-wrapper--no-cta.top-wrapper--no-promo .header,
.top-wrapper--no-cta.top-wrapper--no-promo .main,
.bottom-wrapper--no-cta.bottom-wrapper--no-promo .footer {
    width: 1920px;
}

.fullscreen .top-wrapper--no-cta .player {
    width: 100%;
}

.top-wrapper--no-promo .timeline__controls--center,
.top-wrapper--no-cta .timeline__controls--center {
    width: 1580px;
}

.top-wrapper--no-cta.top-wrapper--no-promo .timeline__controls--center {
    width: 1310px;
}

.top-wrapper--no-promo .timeline--no-volume .timeline__controls--center,
.top-wrapper--no-cta .timeline--no-volume .timeline__controls--center {
    width: 1685px;
}

.top-wrapper--no-cta.top-wrapper--no-promo .timeline--no-volume .timeline__controls--center {
    width: 1415px;
}

.top-wrapper--no-cta .cta--side {
    display: none;
}

.top-wrapper--no-promo .promo {
    display: none;
}

.bottom-wrapper--no-cta .cta--bottom {
    display: none;
}

.fullscreen .top-wrapper--no-promo .timeline__controls--center {
    width: 75%;
}

/** 720p **/
@media screen and (max-width: 4920px) {
    .header,
    .main,
    .footer {
        width: 1461px;
    }

    .top-wrapper--no-cta .header,
    .top-wrapper--no-cta .main,
    .top-wrapper--no-promo .header,
    .top-wrapper--no-promo .main,
    .bottom-wrapper--no-cta .footer,
    .bottom-wrapper--no-promo .footer {
        width: 1460px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .header,
    .top-wrapper--no-cta.top-wrapper--no-promo .main,
    .bottom-wrapper--no-cta.bottom-wrapper--no-promo .footer {
        width: 1280px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--center,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--center {
        width: 1080px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .timeline--no-volume .timeline__controls--center {
        width: 900px;
    }

    .cta--side,
    .promo--side {
        width: 180px;
        height: 720px;
    }

    .player__wrapper {
        width: 1280px;
        height: 720px;
    }

    .timeline,
    .timeline__controls {
        height: 60px;
    }

    .timeline-chapters {
        line-height: 60px;
    }

    .timeline__controls--left {
        width: 183px;
    }

    .timeline__controls--center {
        width: 975px;
    }

    .timeline--no-volume .timeline__controls--center {
        width: 1180px;
    }

    .top-wrapper--no-promo .timeline__controls--center,
    .top-wrapper--no-cta .timeline__controls--center {
        width: 925px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .timeline__controls--center {
        width: 745px;
    }

    .timeline--no-volume .timeline__controls--right {
        width: 230px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--right,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--right {
        width: 150px;
    }

    .timeline-volume {
        width: 100px;
    }

    .timeline-volume__bg {
        margin-top: 25px;
    }

    .timeline-volume__container {
        width: 92px;
    }

    .fullscreen .timeline-volume__container {
        width: calc(100% - 9px);
    }

    .timeline-volume__level {
        padding-left: 9px;
    }

    .timeline-volume__ball {
        top: -4px;
        right: -9px;
        width: 18px;
        height: 18px;
    }

    .timeline__controls--right-no-fs .timeline-volume {
        width: 140px;
    }

    .timeline__controls--right-no-fs .timeline-volume__container {
        width: 132px;
    }
}

/** 540p **/
@media screen and (max-width: 1640px) {
    .header,
    .main,
    .footer {
        width: 1230px;
    }

    .top-wrapper--no-cta .header,
    .top-wrapper--no-cta .main,
    .top-wrapper--no-promo .header,
    .top-wrapper--no-promo .main,
    .bottom-wrapper--no-cta .footer,
    .bottom-wrapper--no-promo .footer {
        width: 1095px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .header,
    .top-wrapper--no-cta.top-wrapper--no-promo .main,
    .bottom-wrapper--no-cta.bottom-wrapper--no-promo .footer {
        width: 960px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--center,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--center {
        width: 760px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .timeline--no-volume .timeline__controls--center {
        width: 625px;
    }
    .cta--side,
    .promo--side {
        width: 135px;
        height: 540px;
    }

    .player__wrapper {
        width: 960px;
        /*height: 540px;*/
		height:616px;
    }

    .timeline__controls--left {
        width: 138px;
    }

    .timeline__controls--center {
        width: 830px;
    }

    .timeline--no-volume .timeline__controls--center {
        width: 860px;
    }

    .top-wrapper--no-promo .timeline__controls--center,
    .top-wrapper--no-cta .timeline__controls--center {
        width: 650px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .timeline__controls--center {
        width: 515px;
    }

    .timeline__controls--right {
        width: 260px;
    }

    .timeline--no-volume .timeline__controls--right {
        width: 185px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--right,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--right {
        width: 150px;
    }

    .timeline-volume {
        width: 70px;
    }

    .fullscreen .timeline-volume {
        width: calc(100% - 130px);
    }

    .timeline__controls--right-no-fs .timeline-volume {
        width: 100px;
    }

    .timeline-volume__bg {
        margin-top: 26px;
        height: 8px;
    }

    .fullscreen .timeline-volume__bg {
        margin-top: calc(2.5vh - 4px);
    }

    .fullscreen.less-16-9 .timeline-volume__bg {
        margin-top: calc((2.5vw * 9/16) - 4px);
    }

    .timeline-volume__container {
        width: 62px;
    }

    .fullscreen .timeline-volume__container {
        width: calc(100% - 8px);
    }

    .timeline__controls--right-no-fs .timeline-volume__container {
        width: 92px;
    }

    .timeline-volume__level {
        top: -8px;
        padding-left: 8px;
        height: 8px;
    }

    .timeline-volume__ball {
        right: -8px;
        width: 16px;
        height: 16px;
    }
}

/** 360p **/
@media screen and (max-width: 1230px) {
    .header,
    .main,
    .footer {
        width: 820px;
    }

    .top-wrapper--no-cta .header,
    .top-wrapper--no-cta .main,
    .top-wrapper--no-promo .header,
    .top-wrapper--no-promo .main,
    .bottom-wrapper--no-cta .footer,
    .bottom-wrapper--no-promo .footer {
        width: 730px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .header,
    .top-wrapper--no-cta.top-wrapper--no-promo .main,
    .bottom-wrapper--no-cta.bottom-wrapper--no-promo .footer {
        width: 640px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--center,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--center {
        width: 540px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .timeline--no-volume .timeline__controls--center {
        width: 410px;
    }

    .top-wrapper--no-cta .header,
    .top-wrapper--no-promo .header {
        padding: 50px 10px 0 10px;
    }

    .social--top-left {
        padding: 10px 8px 0 0;
    }

    .social--top-right {
        padding: 10px 0 0 8px;
    }

    .cta--side,
    .promo--side {
        width: 90px;
        height: 360px;
    }

    .player__wrapper {
        width: 640px;
        /* height: 360px;*/
		height:410px;
    }

    .timeline,
    .timeline__controls {
        height: 50px;
    }

    .timeline__controls--left {
        width: 93px;
        padding: 0 5px;
    }

    .timeline__controls--center {
        width: 520px;
    }

    .timeline--no-volume .timeline__controls--center {
        width: 610px;
    }

    .top-wrapper--no-promo .timeline__controls--center,
    .top-wrapper--no-cta .timeline__controls--center {
        width: 420px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--center,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--center {
        width: 525px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--right,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--right {
        width: 100px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .timeline__controls--center {
        width: 330px;
    }

    .timeline__controls--right {
        width: 205px;
        padding: 0 5px;
    }

    .timeline--no-volume .timeline__controls--right {
        width: 105px;
    }

    .fullscreen .timeline-buffering {
        height: 4px;
    }

    .timeline-chapters {
        line-height: 50px;
    }

    .fullscreen .timeline-volume {
        width: calc(100% - 100px);
    }

    .timeline-volume__bg {
        margin-top: 21px;
    }

    .fullscreen .timeline-volume__level {
        padding-left: 7px;
    }

    .fullscreen .timeline-volume__container {
        width: calc(100% - 7px);
    }

    .fullscreen .timeline-volume__ball {
        top: -3px;
        right: -7px;
        width: 14px;
        height: 14px;
    }

    .footer {
        padding-top: 20px;
    }

    .footer__copyright,
    .footer__links {
        top: -17px;
    }

    .footer__copyright,
    .footer__poweredby,
    .footer__links {
        font-size: 10px;
    }

    .footer__pblogo {
        width: 100px;
        height: 25px;
    }
}
@media screen and (max-width:600px){
    .timeline--no-volume .timeline__controls--center {
        width: 100%;
    }
}

/** Mobile devices **/
@media screen and (max-width: 820px) {
    .header,
    .main,
    .footer,
    .top-wrapper--no-cta .header,
    .top-wrapper--no-cta .main,
    .bottom-wrapper--no-cta .footer,
    .top-wrapper--no-promo .header,
    .top-wrapper--no-promo .main,
    .bottom-wrapper--no-promo .footer,
    .top-wrapper--no-cta.top-wrapper--no-promo .header,
    .top-wrapper--no-cta.top-wrapper--no-promo .main,
    .bottom-wrapper--no-cta.bottom-wrapper--no-promo .footer {
        position: relative;
        width: 100%;
    }
    .top-wrapper--no-cta .main .player,
    .top-wrapper--no-cta .main .timeline {
        width: 100%;
        margin-left: 0;
    }
    .top-wrapper--no-cta .header,
    .top-wrapper--no-promo .header {
        padding: 10px 10px 0 10px;
    }

    .social--top {
        display: none;
    }

    .fullscreen .social--top {
        display: block;
    }

    .social--bottom {
        display: block;
    }

    .promo--side {
        display: none;
    }

    .promo--bottom {
        display: block;
        margin-top: 10px;
    }

    .bottom-wrapper--no-promo .promo--bottom {
        display: none;
    }

    .player__wrapper {
        position: relative;
        padding-top: 56.25%; /* 9/16 = 0.5625 */
        width: 100%;
        height: 0;
    }

    .player__iframe {
        position: absolute;
        top: 0;
        left: 0;
    }

    .timeline {
        float: right;
    }

    .timeline,
    .timeline__controls {
        height: 51px;
    }

    .timeline__controls {
        border: 0;
    }

    .timeline__controls--left {
        width: 30%;
        padding-left: 0;
    }

    .timeline__controls--right,
    .top-wrapper--no-promo .timeline__controls--right,
    .top-wrapper--no-cta .timeline__controls--right,
    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--right,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--right {
        width: 20%;
        padding-left: 0;
    }

    .timeline__controls--center,
    .top-wrapper--no-promo .timeline__controls--center,
    .top-wrapper--no-cta .timeline__controls--center,
    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--center,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--center {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
    }

    .timeline__button {
        margin-top: 10px;
        height: calc(100% - 10px);
    }

    .timeline-buffering {
        height: 10px;
    }

    .timeline-progress-hover,
    .timeline-chapters__chapter > .timeline-chapters__label {
        display: none;
    }

    .fullscreen .timeline-progress-hover,
    .fullscreen .timeline-chapters__chapter > .timeline-chapters__label {
        display: block;
    }

    .timeline-progress-indicator {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0;
        height: 10px;
        pointer-events: none;
    }

    .timeline-progress-indicator-ball {
        position: absolute;
        top: -6px;
        right: -11px;
        width: 22px;
        height: 22px;
    }

    .fullscreen .timeline-progress-indicator,
    .fullscreen .timeline-progress-indicator-ball {
        display: none;
    }

    .timeline__controls--active-state {
        display: block;
        width: 50%;
    }

    .fullscreen .timeline__controls--active-state {
        display: none;
    }

    .timeline__controls--right,
    .timeline--no-volume .timeline__controls--right {
        width: 10%;
        padding-right: 0;
    }

    .fullscreen .timeline__controls--right {
        text-align: center;
    }

    .timeline--no-volume .timeline__controls--right .timeline__button {
        float: left;
    }

    .timeline-volume,
    .timeline__button--volume,
    .timeline__button--fullscreen {
        display: none;
    }

    .fullscreen .timeline__button--settings,
    .fullscreen .timeline__button--fullscreen {
        display: inline-block;
        float: none;
    }

    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footer__copyright,
    .footer__poweredby,
    .footer__links {
        top: 0;
        float: none;
        margin-bottom: 8px;
        padding-top: 8px;
        width: 100%;
        font-size: 12px;
    }

    .footer__poweredby-break {
        display: none;
    }

    .footer__pblogo {
        margin-right: 8px;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .top-wrapper--no-promo .timeline__controls--center,
    .top-wrapper--no-cta .timeline__controls--center,
    .top-wrapper--no-cta.top-wrapper--no-promo .timeline__controls--center {
        width: 100%;
    }
}

/** Mobile devices in landscape and tablets in portrait **/
@media screen and (max-width: 820px) {
    .cta--side {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .fullscreen .cta--side.cta--2,
    .fullscreen .cta--side.cta--3,
    .fullscreen .cta--side.cta--4,
    .fullscreen .cta--side.cta--5 {
        height: 95%;
    }

    .cta--side.cta--2 {
        height: calc(100% + 2px);
    }

    .cta--side.cta--3 {
        height: calc(100% + 2px);
    }

    .cta--side.cta--4 {
        height: calc(100% + 2px);
    }

    .cta--side.cta--5 {
        height: 100%;
    }

    .cta--side.cta--1 .cta__button {
        margin-bottom: 0;
        height: 100%;
    }

    .cta--side.cta--2 .cta__button {
        margin-bottom: 0;
        height: 50%;
    }

    .cta--side.cta--3 .cta__button {
        margin-bottom: 0;
        height: 33.333%;
    }

    .cta--side.cta--4 .cta__button {
        margin-bottom: 0;
        height: 25%;
    }

    .cta--side.cta--5 .cta__button {
        margin-bottom: 0;
        height: 20%;
    }

    .player {
        margin-left: 90px;
        width: calc(100% - 90px);
    }

    .timeline {
        width: calc(100% - 90px);
    }

}

/** Tablets in portrait **/
@media screen and (max-width: 820px) and (orientation: portrait) {
    .player {
        width: calc(100% - 89px); /* Increase the player width by 1px, to fix the iPad white line issue */
    }
}

/** Mobile devices in portrait **/
@media screen and (max-width: 700px) and (orientation: portrait) {
    .cta--side {
        display: none;
    }

    .fullscreen .cta--side {
        display: block;
    }

    .cta--bottom {
        display: block;
    }

    .cta--bottom .cta__button {
        float: left;
    }

    .cta--bottom.cta--1 .cta__button {
        width: 100%;
    }

    .cta--bottom.cta--2 .cta__button {
        width: 50%;
    }

    .cta--bottom.cta--3 .cta__button {
        width: 33.333%;
    }

    .cta--bottom.cta--4 .cta__button {
        width: 25%;
    }

    .cta--bottom.cta--5 .cta__button {
        width: 20%;
    }

    .player {
        margin: 0;
        width: 100%;
    }

    .timeline {
        width: 100%;
    }

    .timeline__controls--left {
        padding-left: 5%;
    }

    .timeline__controls--right {
        padding-right: 5%;
    }

}

/** Smaller mobile devices **/
@media screen and (max-width: 420px) {
    .footer__pblogo {
        margin-right: 0;
        margin-bottom: 4px;
    }

    .footer__poweredby-break {
        display: block;
    }
}

/** Windows Phone **/
@-ms-viewport {
    width: device-width;
}

.fullscreen .main,
.fullscreen .top-wrapper--no-promo .main {
    width: calc(100vh * 16/9);
    height: 100%;
}

.fullscreen .top-wrapper--no-cta .main {
    width: calc(.95 * (100vh * 16/9));
    height: 100%;
}

.fullscreen.less-16-9 .top-wrapper--no-cta .main,
.fullscreen.less-16-9 .top-wrapper--no-promo .main {
    width: 100%;
    height: calc(100vw * 9/16);
    margin-top: calc((100vh - (100vw * 9/16)) / 2);
}

.fullscreen .top-wrapper--no-cta .timeline__controls--center,
.fullscreen .top-wrapper--no-promo .timeline__controls--center {
    width: 75%;
}

.android-landscape {
    min-width: 540px;
}
